@import '../../styling/styling.scss';

.home-container {
    background: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;

    &__p-1 {
        font-size: 50px;
        margin: 10px;
        color: $background-color_1;
        word-wrap: break-word;
    }

    &__p-2 {
        margin: 10px;
        font-size: 20px;
        word-wrap: break-word;
        color: $background-color_1;
    }

    .pi {
        margin: 10px;
        font-size: 70px;
        color: $background-color_1;
    }
}