@import '../../styling/nav-button.scss';
@import '../../styling/action-button.scss';
@import '../../styling/styling.scss';

.recipe-preview-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;

    .recipe-content-container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background: $background-color_5;

        &-form {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;

            &-buttons-container {
                display: flex;
                justify-content: center;
                align-items: center;
                margin: 20px;

                @include action-button("&__button-add", $font-color_1, $background-color_2, $success);
                @include action-button("&__button-update", $font-color_1, $background-color_2, $success);
                @include action-button("&__button-cancel", $font-color_1, $background-color_2, $close);
            }

            &__label {
                display: flex;
                text-align: center;
                justify-content: center;
                align-items: center;
                font-size: 17px;
                margin: 10px;
            }

            &__input {
                margin: 10px;
                min-height: 40px;
                font-size: 22px;
                padding: 10px;
                outline: none;
                border: none;
                border-radius: 9px;
                min-width: 60px;
                width: 70%;
            }

            &__input:disabled {
                cursor: default;
                background-color: $font-color_1;
                color: $font-color_2;
                opacity: 1;
            }

            &__p {
                margin: 10px;
                font-size: 20px
            }

            @include action-button("&__button-add-ingredients", $font-color_1, $background-color_4, $background-color_2);

            &__button-add-ingredients {
                margin: 10px;
            }

            .ingredients-container {
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                margin: 20px;

                &-ingredient {
                    margin: 10px;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    &-input-container {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        flex-direction: column;

                        &-aligner {

                            display: flex;
                            justify-content: center;
                            align-items: center;
                            width: 100%;

                            &__label {
                                display: inline-block;
                                text-align: right;
                                width: 30%;
                            }

                            &__input {
                                margin: 10px;
                                min-height: 35px;
                                font-size: 20px;
                                padding: 5px;
                                outline: none;
                                border: none;
                                border-radius: 7px;
                                min-width: 60px;
                                width: 70%;
                            }

                            &__input:disabled {
                                cursor: default;
                                background-color: $font-color_1;
                                color: $font-color_2;
                                opacity: 1;
                            }
                        }
                    }

                    @include nav-button("&__button", $font-color_1, $close);
                }
            }
        }
    }
}