<div class="recipe-preview-container">
  <p class="recipe-preview-container__p"></p>
  <div class="recipe-content-container" *ngIf="loaded | async">
    <form
      class="recipe-content-container-form"
      [formGroup]="form"
      (ngSubmit)="onSubmit()"
    >
      <label class="recipe-content-container-form__label" for="name"
        >Recipe name:</label
      >
      <input
        class="recipe-content-container-form__input"
        placeholder="name"
        id="name"
        type="text"
        formControlName="name"
      />
      <label class="recipe-content-container-form__label" for="preparationTime"
        >Preperation time:</label
      >
      <input
        class="recipe-content-container-form__input"
        id="preparationTime"
        type="text"
        formControlName="preparationTime"
        placeholder="preperation time"
      />
      <label class="recipe-content-container-form__label" for="description"
        >Description:</label
      >
      <input
        class="recipe-content-container-form__input"
        id="description"
        type="text"
        formControlName="description"
        placeholder="description"
      />
      <div
        class="ingredients-container"
        formArrayName="ingredients"
        *ngIf="ingredientsLoaded | async"
      >
        <p class="ingredients-container__p">Ingredients:</p>
        <ng-container
          class="ingredients-container-ingredient"
          formGroupName="{{ i }}"
          *ngFor="let ingredient of getIngredients.controls; let i = index"
        >
          <label
            class="ingredients-container-ingredient__label"
            for="ingredientName"
          ></label>
          <input
            type="text"
            id="ingredientName"
            placeholder="ingredient name"
            class="ingredients-container-ingredient__input"
            formControlName="name"
          />
          <label
            class="ingredients-container-ingredient__label"
            for="ingredientQuantity"
          ></label>
          <input
            type="text"
            id="ingredientQuantity"
            placeholder="ingredient quantity"
            class="ingredients-container-ingredient__input"
            formControlName="quantity"
          />
        </ng-container>
      </div>
      <button type="submit">Update</button>
    </form>
  </div>
</div>
