<h1 mat-dialog-title>About author</h1>
<mat-dialog-content>
  <p class="text">
    I'm a second grade student as an electronic technician in a tech school in
    Cracow ("Technikum Łączności w Krakowie").I live near Cracow, in Libertów.
    In my spare time I usually ride enduro and hang out with my friends. However
    my passion is actually free-diving. When I'm free-diving I feel relaxed. It
    may sound strange but when you're diving very deep in the ocean you relize
    that everything that surrounds you seems to be afloat and not sinking; also
    the concept of phycisc changes.
  </p>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button class="close-button" mat-dialog-close>Close</button>
</mat-dialog-actions>
