<div class="main-container">
  <button (click)="gen()">111</button>
  <div class="top-nav">
    <p class="top-nav__p">App Name</p>
    <button class="top-nav__button" (click)="openAboutAuthorDialog()">
      <i class="pi pi-align-justify"></i>
    </button>
  </div>
  <div class="content-container">
    <div class="content-container-recipes-container">
      <div class="serach-container">
        <form class="serach-container-form" [formGroup]="form">
          <input
            class="serach-container-form__input"
            type="text"
            placeholder="Recipe Name"
            id="search"
            type="text"
            formControlName="search"
          />
          <button
            (click)="addNewRecipe()"
            class="serach-container-form__button"
          >
            Add New
          </button>
        </form>
      </div>
      <span class="recipe-overlay" *ngIf="showRecipes">
        <div class="recipe" *ngFor="let recipe of recipes | recipeFilter: args">
          <p (click)="route(recipe._id, false)" class="recipe__p">
            {{ recipe.name }}
          </p>
          <span class="recipe-button-container">
            <button
              (click)="route(recipe._id, true)"
              class="recipe-button-container__button-edit"
            >
              <i class="pi pi-pencil"></i>
            </button>
            <button
              class="recipe-button-container__button-delete"
              (click)="deleteRecipe(recipe._id)"
            >
              <i class="pi pi-times"></i>
            </button>
          </span>
        </div>
      </span>
    </div>
    <div class="content-container-details-container">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
