@import '../../styling/styling.scss';
@import '../../styling/nav-button.scss';
@import '../../styling/action-button.scss';

.main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
    width: 100%;
    background: $background-color_1;
    text-align: center;

    .top-nav {
        min-height: 60px;
        width: 100%;
        background: $background-color_1;
        display: flex;
        justify-content: space-between;
        align-items: center;
        align-content: center;

        &__p {
            margin: 10px;
            color: $font-color_1;
        }

        @include nav-button("&__button", $font-color_1, $background-color_3)
    }

    .content-container {
        min-height: calc(100vh - 60px);
        background: $background-color_2;
        display: flex;
        justify-content: center;
        width: 100%;

        .serach-container {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            width: 100%;
            height: 100%;

            &-form {
                display: flex;
                width: 100%;
                justify-content: center;
                align-items: center;
                flex-direction: column;

                &__input {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    color: $background-color_1;
                    margin: 10px;
                    padding: 5px;
                    font-size: 16px;
                    border-radius: 0.2rem;
                    background-color: rgb(255, 255, 255);
                    border: none;
                    outline: none;
                    width: 90%;
                    border-bottom: 0.3rem solid transparent;
                }

                @include action-button('&__button', $font-color_1)
            }

        }

        &-recipes-container {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            height: 100%;
            min-width: 200px;
            width: 30%;
            background: $background-color_2;

            .recipe-overlay {
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                width: 100%;
                height: 100%;
                margin: 0;
                padding: 0;
            }

            .recipe {
                display: flex;
                pointer-events: auto;
                justify-content: space-between;
                align-items: center;
                width: 100%;
                cursor: pointer;
                height: 60px;
                transition: .2s ease;

                &__p {
                    margin: 10px;
                    font-size: 20px;
                    color: $font-color_1;
                }

                &-button-container {
                    display: flex;
                    justify-content: center;

                    @include nav-button("&__button-edit", $font-color_1, $close);
                    @include nav-button("&__button-delete", $font-color_1, $success);
                }
            }

            .recipe:hover {
                background: rgba($color: $background-color_1, $alpha: 0.1);
            }

        }

        &-details-container {
            width: 70%;
            background: $background-color_3;
        }
    }

}