<div class="main-container">
  <div class="top-nav">
    <img class="top-nav__img" src="../../../assets/logo.png" />
    <button
      class="top-nav__button"
      type="button"
      (click)="openAboutAuthorDialog()"
    >
      <i class="pi pi-align-justify"></i>
    </button>
  </div>
  <div class="content-container">
    <div class="content-container-recipes-container">
      <div class="serach-container">
        <form class="serach-container-form" [formGroup]="form">
          <input
            class="serach-container-form__input"
            type="text"
            placeholder="Enter recipe name"
            id="search"
            type="text"
            formControlName="search"
          />
          <button
            (click)="addNewRecipe()"
            type="button"
            class="serach-container-form__button"
          >
            Add New
          </button>
        </form>
      </div>
      <span
        class="recipe-overlay"
        *ngIf="(showRecipes | async) && (recipes | async)"
      >
        <div
          class="recipe"
          *ngFor="
            let recipe of recipes.getValue() | recipeFilter: args;
            trackBy: trackItem
          "
        >
          <span class="recipe-click-overlay" (click)="previewRoute(recipe._id)">
            <p class="recipe__p">
              {{ recipe.name }}
            </p>
          </span>
          <span class="recipe-button-container">
            <button
              type="button"
              (click)="editRoute(recipe._id, true)"
              class="recipe-button-container__button-edit"
            >
              <i class="pi pi-pencil"></i>
            </button>
            <button
              type="button"
              class="recipe-button-container__button-delete"
              (click)="openConfirmDialog(recipe._id)"
            >
              <i class="pi pi-times"></i>
            </button>
          </span>
        </div>
      </span>
    </div>
    <div class="content-container-details-container">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
