$font-color_1: #ffffff;
$font-color_2: #000000;
$background-color_1: #424242;
$background-color_2: #0f97ac;
$background-color_3: #22bed6;
$background-color_4: #174e57;
$background-color_5: #d5a566;
$close: #d33b3b;
$success: rgb(54, 192, 36);